    <% include partials/_header %>

        <form action="/urls/<%= shortURL %>" method="POST">
        <label for="longURL"><%= shortURL %>:</label>
        <input id="longURL" type="text" name="longURL" value="<%= longURL %>">
        <input type="submit" value="Submit">
        </form>

    <% include partials/_footer %>